---
// No props are needed for this component, but the frontmatter is kept for Astro's structure.
---

<section class="bg-black py-3 px-4 sm:px-8 text-xs">
  <div class="container mx-auto flex flex-col sm:flex-row  justify-center sm:justify-between gap-y-2 sm:gap-y-0">
    <div class="text-white text-left ">
      <span class="p-1 border border-[#bf9b42] rounded-full px-2">
        20% off for your first order.
      </span>
    </div>
    <div class="text-[#bf9b42] font-bold flex items-center gap-x-3 ml-auto">
      <a href="tel:+919876543210" class="hover:text-white transition-colors duration-300">
        +91 9876543210
      </a>
      <span class="text-gray-600">|</span>
      <a href="#" class="hover:text-white transition-colors duration-300">
        Bulk Order
      </a>
    </div>
  </div>
</section>