---
import { Image } from "astro:assets";
import howWorks from "../../assets/images/Screenshot 2025-11-10 215104.png";
---

<section class="text-center py-10">
  <div class="flex justify-center">
    <Image src={howWorks} alt="How Vexo works" class="w-full shadow-lg" />
  </div>
</section>
