---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ContactLayout from "../components/HomePage/ContactLayout.astro";
import HeroSection from "../components/HomePage/HeroSection.astro";
import UploadImage from "../components/HomePage/UploadImage.astro";
import Testimonials from "../components/HomePage/Testimonials.astro";
import WhyUs from "../components/HomePage/WhyUs.astro";
import PrintingSolutions from "../components/HomePage/PrintingSolutions.astro";
import FlawlessPrinting from "../components/HomePage/FlawlessPrinting.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Vexo | Your Gift Partner</title>
		<link rel="icon" type="image/png" href="/src/assets/images/vexologo.png" />
	</head>
	<body>
		<Header />
		<ContactLayout />
		<HeroSection />
		<Testimonials />
		<WhyUs />
		<!-- <UploadImage /> -->
		<PrintingSolutions />
		<FlawlessPrinting />

		<Footer />
	</body>
</html>
